body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;
    text-align: center;
}

header {
    background: #1e1e1e;
    padding: 20px;
}

.logo {
    width: 250px;
}

nav {
    background: #222;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: red;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.anime-card {
    background: #1e1e1e;
    color: white;
    width: 250px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.anime-card a {
    display: block;
    background: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}
